// Dark and light
$dark-color: #080A12;
$light-color: #ffffff;

// Default Colors
$dark-primary-color: #2A304F;
$primary-color: #4778B5;

$secondary-color: #04aeab;

// Bg
$background-color: #B7C8CE;

// Other Colors
$dark-red: #661925;
$dark-orange: #933B1A;
$color-text-disable: #6e6e6e;


// Font-size
$large-title-size: 2rem;
$medium-title-size: 1.5rem;
$small-title-size: 1.2rem;

// Menu
$menu-width: 270px;
